
@{
    ViewData["Title"] = "Exception";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Exception</h1>
<h7>Oops! This is not suppose to happen. Our team of developers are already on it as you are reading this message.</h7>

